 <main id="main" class="main">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-3">
                <h2>Add Category</h2>
                <form action="/admin/addcategory" method="post" enctype="multipart/form-data">
                    <label for="">Category Name</label>
                    <input type="text" name="Name" class="form-control">
                    <br>
                    <label class="form-label" for="form3Example4cg">Image</label>
                    <input type="file" id="form3Example4cg" class="form-control form-control" name="file" accept="image/apng, image/avif, image/gif, image/jpeg, image/png, image/svg+xml, image/webp" />
                 
                  
                    <button type="submit" class="btn btn-success mt-3">Add Category</button>

                </form>
            </div>
        </div>
    </div>
</section>
</main>