 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/adminpanel">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>User Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/viewusers">
              <i class="bi bi-circle"></i><span>View Users</span>
            </a>
          </li>
         
          
        
         
         
          
        
         
        
       
         
        </ul>
      </li><!-- End Components Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-navz" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Brand Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-navz" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/addbrand">
              <i class="bi bi-circle"></i><span>Add Brand</span>
            </a>
          </li>
          <li>
            <a href="/admin/viewcategory">
              <i class="bi bi-circle"></i><span>View Brand</span>
            </a>
          </li>
         
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Category Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/addcategory">
              <i class="bi bi-circle"></i><span>Add Category</span>
            </a>
          </li>
          <li>
            <a href="/admin/viewcategory">
              <i class="bi bi-circle"></i><span>View Category</span>
            </a>
          </li>
         
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Product Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/viewproducts">
              <i class="bi bi-circle"></i><span>View Products</span>
            </a>
          </li>
          <li>
            <a href="/admin/addproduct">
              <i class="bi bi-circle"></i><span>Add Products</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Banner Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/addbanner">
              <i class="bi bi-circle"></i><span>Add Banner</span>
            </a>
          </li>
          <li>
            <a href="/admin/viewbanner">
              <i class="bi bi-circle"></i><span>View Banner</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Order Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/viewallorders">
              <i class="bi bi-circle"></i><span>View All Orders</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->


      
      <li class="nav-item">
        <a class="nav-link collapsed"   href="/admin/salesreport">
          <i class="bi bi-bar-chart"></i><span>Sales Report</span>
        </a>
        
      </li><!-- End Charts Nav -->


       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Coupon Mangement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/addcoupon">
              <i class="bi bi-circle"></i><span>Add Coupon</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav10" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Offer Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav10" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/productoffer">
              <i class="bi bi-circle"></i><span>Product Offer</span>
            </a>
          </li>
          <li>
            <a href="/admin/categoryoffer">
              <i class="bi bi-circle"></i><span>Category Offer</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->

      
       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav11" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Return Orders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav11" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/viewreturnorder">
              <i class="bi bi-circle"></i><span>View All Return Orders</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Icons Nav -->
      
     

    </ul>

  </aside><!-- End Sidebar-->