<style>
        body{
            padding: 0%;
        }
		.header{
    position: relative;
}


    </style>

<div class="d-flex justify-content-center ">
<img class="mb-5" src="https://techctice.com/wp-content/uploads/2020/10/Checkmark.gif" alt="" style="width: 500px;height:auto;">
<br>


</div>

<div class="text-center">
	<a href="/dashboard/order" class="btn btn-success">View Orders</a>

</div>
<br>
<h3 class="text-center mb-5">Your Order has been Placed</h3>

